<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
	name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<title>Claims List</title>
<link
	href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body class="container">
	<h2>Claims List</h2>
	<table class="table table-striped table-bordered ">
		<tr>
			<th>ID</th>
			<th>Status</th>
			<th>Drug Cost</th>
			<th>Patient Payment</th>
			<th>Manufacturer Payment</th>
			<th>Transaction Date</th>
			<th>Card Id</th>
			<th>Pharmacy Name</th>
			<th>Drug name</th>
		</tr>
		
		<tr th:each="claim : ${claims}">
			<td class="align-middle" th:text="${claim.claimId}"></td>
			<td class="align-middle" th:text="${claim.status}"></td>
			<td class="align-middle" th:text="${claim.drugCostAtClaim}"></td>
			<td class="align-middle" th:text="${claim.patientPayment}"></td>
			<td class="align-middle"  th:text="${claim.manufacturerPayment}"></td>
			<td class="align-middle" th:text="${claim.transactionDate}"></td>
			<td class="align-middle" th:text="${claim.card.cardId}"></td>
			<td class="align-middle" th:text="${claim.pharmacy.name}"></td>
			<td class="align-middle" th:text="${claim.drug.name}"></td>

		</tr>
	</table>
</body>
</html>