<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Copay Program</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
	
    <div class="container my-2">
        <h1>Patients List</h1>

        <a th:href="@{/showNewPatientForm}" class="btn btn-primary btn-sm mb-3"> Add Patient </a>

        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>First Name</th>
					<th>Last Name</th>
					<th>Gender</th>
					<th>DOB</th>
					<th>Email</th>
					<th>Phone Number</th>
					<th>Address1</th>
					<th>Address2</th>
					<th>City</th>
					<th>State</th>
					<th>Zip5</th>
					<th>Zip4</th>
					<th>Login ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="patient : ${patients}">
                    <td th:text="${patient.firstName}"></td>
					<td th:text="${patient.lastName}"></td>
					<td th:text="${patient.gender}"></td>
					<td th:text="${patient.dob}"></td>
					<td th:text="${patient.email}"></td>
					<td th:text="${patient.phoneNumber}"></td>
					<td th:text="${patient.address1}"></td>
					<td th:text="${patient.address2}"></td>
					<td th:text="${patient.city}"></td>
					<td th:text="${patient.state}"></td>
					<td th:text="${patient.zip5}"></td>
					<td th:text="${patient.zip4}"></td>
					<td></td>
					<!-- <td th:text="${patient.loginId}"></td> -->
                    <td><a th:href="@{/showFormForUpdate/{id}(id=${patient.patientId})}" class="btn btn-primary">Update</a>
                    	<a th:href="@{/deletePatient/{id}(id=${patient.patientId})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>