<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>[[${pageTitle}]]</title>
</head>

<body>
	<div class="container-fluid">
		<div class="text-center">
			<h2>[[${pageTitle}]]</h2>
		</div>
		<form th:action="@{/save}" th:object="${patient}" method="post">
			<!--   <input id="firstName" placeholder="Enter First Name" required th:field="*{firstName}" type="text"/>
  <input id="lastName" placeholder="Enter Last Name" required th:field="*{lastName}" type="text"/>
  <input id="email" placeholder="Enter Email" required th:field="*{firstName}" type="text"/>
  <input id="lastName" placeholder="Enter Last Name" required th:field="*{lastName}" type="text"/>
  <input id="activeFlag" type="hidden" th:field="*{active}" value='true'>
  <input type="submit" value="Update" -->
			<!--  onclick="document.getElementById('activeFlag').value='true'"> -->
			<!-- <input type="submit" value="Delete"
         onclick="document.getElementById('activeFlag').value='false'"> -->

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{patientId}" /> 
			
			<label for="firstName">First Name</label> 
			<input type="text" th:field="*{firstName}" id="firstName"
				placeholder="First Name"> <span
				th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span> 
				
			<label for="lastName">Last Name</label> 
			<input type="text"
				th:field="*{lastName}" id="lastName" placeholder="Last Name"> <span
				th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span> 
				
			<label for="gender">Gender</label> 
			<input type="text"
				th:field="*{gender}" id="gender" placeholder="Gender"> <span
				th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span> 
				
			<label for="dob">DOB</label> 
			<input type="text"
				th:field="*{dob}" id="dob" placeholder="DOB"> <span
				th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></span>
				
			<label for="city">City</label> 
			<input type="text"
				th:field="*{city}" id="city" placeholder="City"> <span
				th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
				
			<label for="state">State</label> 
			<input type="text"
				th:field="*{state}" id="state" placeholder="State"> <span
				th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></span>
				
			<label for="zip5">Zip5</label> 
			<input type="text"
				th:field="*{zip5}" id="zip5" placeholder="Zip5"> <span
				th:if="${#fields.hasErrors('zip5')}" th:errors="*{zip5}"></span>    
				
			<label for="zip4">Zip4</label> 
			<input type="text"
				th:field="*{zip4}" id="zip4" placeholder="Zip4"> <span
				th:if="${#fields.hasErrors('zip4')}" th:errors="*{zip4}"></span>
				
			<label for="username">Username</label> 
			<input type="text"
				th:field="*{username}" id="username" placeholder="Username"> <span
				th:if="${#fields.hasErrors('username')}" th:errors="*{login.username}"></span>  

			<label for="password">Password</label> 
			<input type="password"
				th:field="*{password}" id="password" placeholder="Password"> <span
				th:if="${#fields.hasErrors('password')}" th:errors="*{login.password}"></span> <input
				type="submit" value="Save">


		</form>
	</div>
</body>

</html>

