@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Tiro+Devanagari+Marathi:ital@0;1&family=Tiro+Devanagari+Sanskrit&display=swap");

html {
  background-image: url("./images/home-background.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



.description {
  font-family: "Tiro Devanagari Marathi", serif;
}

#welcome {
  text-align: center;
}

#demo {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.description p {
  color: black;
  font-size: 1.3rem;
  line-height: 1.5;
}

table,
th,
td {
  border: 2px solid black;
}
